<h1>注文履歴詳細</h1>

<p>購入者</p>
<p><%= @order.shipping_name %></p>

<p>注文日</p>
<p><%= @order.created_at.strftime('%Y/%m/%d') %></p>

<p>配送先</p>
<p>
  〒<%= @order.shipping_postal_code %><br>
  <%= @order.shipping_address %><br>
  <%= @order.shipping_name %>
</p>

<p>支払方法</p>
<p><%= @order.payment_i18n %></p>

<table class="table">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <% @order.order_items.each do |order_item| %>
  <tbody>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.tax_price %></td>
      <td><%= order_item.amount %></td>
      <td>
        <% @subtotal = order_item.tax_price * order_item.amount %>
        <%= @subtotal %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<p>商品合計</p>
<p>
  <% @total = @order.amount_billed - @order.shipping_fee %>
  <%= @total %>
</p>

<p>送料</p>
<p><%= @order.shipping_fee %></p>

<p>請求金額合計</p>
<p><%= @order.amount_billed %></p>