<div class="container mt-3">
  <h3 class="mb-4">注文履歴一覧</h3>

  <table class="table table-bordered">
    <thead>
      <tr class="table-secondary">
        <th class="col-lg-2">注文日</th>
        <th class="col-lg-4">配送先</th>
        <th class="col-lg-2">注文商品</th>
        <th class="col-lg-2">支払金額</th>
        <th class="col-lg-2">注文詳細</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          〒<%= order.shipping_postal_code %><br>
          <%= order.shipping_address %><br>
          <%= order.shipping_name %>
        </td>
        <td>
          <% order.order_items.each do |order_item| %>
            <%= order_item.item.name %><br>
          <% end %>
        </td>
        <td><%= order.amount_billed.to_s(:delimited) %>円</td>
        <td>
          <%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>