<h1>注文情報入力</h1>

<h3>支払方法</h3>
<%= form_with model: @order do |f| %>
  <%= f.radio_button :payment, "credit_card" %>
  <%= f.label :payment_credit_card, "クレジットカード" %>

  <%= f.radio_button :payment, "transfer" %>
  <%= f.label :payment_transfer, "銀行振込" %>
  <%= f.submit "確認画面へ進む" %>
<% end %>