<h1>注文履歴詳細</h1>

<h3>注文情報</h3>
<table class="table">
  <tbody>
    <tr>
      <th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      <th>配送先</th><td>〒<%= @order.shipping_postal_code %></td><td><%= @order.shipping_address %></td><td><%= @order.shipping_name %></td>
      <th>支払方法</th><td><%= @order.payment_i18n %></td>
    </tr>
  </tbody>
</table>

<h3>請求情報</h3>
<table class="table">
  <tbody>
    <tr>
      <th>商品合計</th>
      <td>
        <% @total = @order.amount_billed - @order.shipping_fee %>
        <%= @total %>
      </td>
      <th>配送料</th><td><%= @order.shipping_fee %></td>
      <th>ご請求額</th><td><%= @order.amount_billed %></td>
    </tr>
  </tbody>
</table>

<h3>注文内容</h3>
<table class="table">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <% @order.order_items.each do |order_item| %>
  <tbody>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.tax_price %></td>
      <td><%= order_item.amount %></td>
      <td>
        <% @subtotal = order_item.tax_price * order_item.amount %>
        <%= @subtotal %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>