<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffdbff">
        <div class="container">
          <a class="navbar-brand py-4" href="/">
            <h2 class="py-2 px-5 bg-light text-dark">ロゴ</h2>
          </a>
          <div>
            <% if admin_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 bg-light text-dark">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            </ul>
            <% elsif customer_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "マイページ", customers_my_page_path, class: 'nav-link text-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 bg-light text-dark">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            </ul>
            <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "About", about_path, class: 'nav-link text-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 mr-4 bg-light text-dark">
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
                </div>
              </li>
              <li class="nav-item">
                <div class="py-1 px-3 bg-light text-dark">
                <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
                </div>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
